*.class

# Package Files #
*.jar
*.war
*.ear

.allure

*.iml
.idea

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
out/

build
target
.gradle

allure-results/

# Gradle wrapper
!gradle/wrapper/gradle-wrapper.jar

local.properties
*.gpg.enc

# IDEA/Android Studio ignores
**/*.iml
**/*.ipr
**/*.iws
**/*.editorconfig
**/.idea/shelf
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/datasources.xml
**/.idea/dataSources.ids
**/.idea/gradle.xml
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/libraries
**/.idea/dictionaries
**/.idea/runConfigurations.xml
**/.idea/caches
**/.idea/assetWizardSettings.xml
**/.idea/encodings.xml
**/.idea/codeStyles/codeStyleConfig.xml
**/.idea/markdown-navigator